*{
    background-color:rgb(99, 175, 36);
}

h1{
    text-decoration: underline ;
    color: sienna;
}

h2{
    color: blue;
    text-decoration: underline;
}

h3{
    color: red;
    text-decoration: underline;
}

h4{
    color: green;
    text-decoration: underline;
}

li{
    list-style-type: square;
}