*{
    background-color: #c7ad7f;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/*body{
    background-image: url("../img/pesto.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

@keyframes example{
    from {background-color: #c7ad7f;}
    to {background-color: yellow;}
}

h1{
    font-weight: bold;
    animation-name: example;
}

h2{
    color: blue;
    text-decoration: underline;
}

h3{
    text-decoration: underline;
    color: crimson;
}

em{
    color: darkmagenta;
}

.lowest{
    color:mediumpurple;
}

img{
    width: 700px;
}